[mysqld]
# Security settings
secure-file-priv=/var/lib/data/
pid-file=/var/lib/mysql/mysqld.pid
authentication_policy=caching_sha2_password
local-infile=1

# Suppress deprecation warnings
log_error_verbosity=2

# Performance settings
host_cache_size=0
innodb_buffer_pool_size=512M
innodb_redo_log_capacity=512M
innodb_flush_log_at_trx_commit=1
innodb_flush_method=O_DIRECT
require_secure_transport=ON

# SSL Configuration (disabled for development)
# require_secure_transport=OFF
# ssl_cert=/etc/mysql/certs/server-cert.pem
# ssl_key=/etc/mysql/certs/server-key.pem
# ssl_ca=/etc/mysql/certs/ca.pem



# Configuration for CDC setup
log-bin=mysql-bin
binlog_format=ROW
binlog_row_image=FULL
server_id=1