[mysqld]
# Security settings
secure_file_priv=/var/lib/mysql-files
pid-file=/var/lib/mysql/mysqld.pid
authentication_policy=caching_sha2_password
secure-file-priv=/var/lib/data
local-infile=1

# Performance settings
host_cache_size=0
innodb_buffer_pool_size=512M
innodb_redo_log_capacity=512M
innodb_flush_log_at_trx_commit=1
innodb_flush_method=O_DIRECT

# SSL Configuration
ssl_cert=/etc/mysql/certs/server-cert.pem
ssl_key=/etc/mysql/certs/server-key.pem
ssl_ca=/etc/mysql/certs/ca.pem
require_secure_transport=ON